@{ ViewData["Title"] = "Contact"; }

<h1>Get in Touch</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>About Me</h2>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
