@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<div class="form-group">
    <div class="form-control">
        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
    </div>
</div>